html
  head
    != css('index')
    script(src="https://fb.me/react-0.13.3.js" type='text/javascript')
    script(src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript")
    script(src="socket.io/socket.io.js" type="text/javascript")
    script(type='text/javascript').
      var socket = io();
    title!= title
  body
    h1!= message
    #indexInput
    #index
  != js('grievance')
  != js('grievance_index')
  != js('index_input')
  != js('index')
